.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

.column {
    max-width: 520px;
}

// Set your colors
$primary: rgb(114, 137, 218);
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$discord-bg-alt: #2f3136;
$discord-bg-accent: #4f545c;
$discord-bg-hover: rgba(79, 84, 92, 0.16);
$scheme-invert: #fff;
$blurple: #7289DA;
$discord-bg-primary: #36393f;
$discord-bg-secondary: #2f3136;
$discord-bg-secondary-alt: #292b2f;
// background
$scheme-main: $dark;
$body-background-color: $discord-bg-primary;
$body-color: #dcddde;
$text: #dcddde;
$text-secondary: #b9bbbe;
$dark: #2f3136;
$title-color: #fff;
$subtitle-color: $text;
//cards
$card-color: $text;
$card-background-color: $discord-bg-secondary;
$card-header-background-color: $discord-bg-secondary-alt;
$card-header-color: #fff;
.card-header-title {
    line-height: 20px;
}

//inputs
$input-background-color :#40444b;
$input-color: $text;
$input-border-color: $discord-bg-alt;
$input-hover-border-color: $discord-bg-accent;
$input-focus-border-color: $discord-bg-hover;
$input-arrow: $discord-bg-hover;
$label-color: $text-secondary;
//navbar
$navbar-background-color: $body-background-color;
$navbar-item-color: #fff;
$navbar-item-hover-background-color: $body-background-color;
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: ( "white": ( $white, $black), "black": ( $black, $white), "light": ( $light, $light-invert), "dark": ( $dark, $dark-invert), "primary": ( $primary, $primary-invert), "info": ( $info, $info-invert), "success": ( $success, $success-invert), "warning": ( $warning, $warning-invert), "danger": ( $danger, $danger-invert), "twitter": ( $twitter, $twitter-invert));
// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;